---
import PlayerStatsComp from '../components/PlayerStats';
---
<html lang="en">
  <head>
    <title>Player Stats</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/tailwind.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-br from-teal-100 via-indigo-100 to-pink-100 min-h-screen">
    <main class="container mx-auto py-10">
      <h1 class="text-4xl font-bold text-indigo-700 mb-8 text-center">Player Stats</h1>
      <PlayerStatsComp client:load/>
    </main>
  </body>
</html>
